:host ::ng-deep footer {
  text-align: center;
  padding: 25px;
  color: var(--muted);
  font-size: 13px;
  border-top: 1px solid rgba(58, 154, 255, 0.15);
  background: var(--c1);

  span { color: var(--c4); }
}
